/* .biometrics {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 4px;
    max-width: 300px;
    background-color: #f8f9fa;
} */

label {
    display: flex;
    font-weight: normal;
}

input {
    margin-bottom: .75rem;
    
}

.hidden {
    display: none;
}

form {
    display: grid;
    align-content: center;
    justify-content: space-around;
    margin-top: 20px;
}

legend {
    font-size: x-large;
    padding-bottom: 1rem;
    text-align: center;
}

#height {
    
}