<div class = 'biometrics'>
    <form action="">
        <legend>Biometrics</legend>
        <label for="height">Height:</label>
        <input type="text" id="height" name="height" placeholder="{{ height }}">
        <label for="weight">Weight:</label>
        <input type="text" id="weight" name="weight" placeholder="{{ weight }}">
        <label for="age">Age:</label>
        <input type="text" id="age" name="age" placeholder="{{ age }}">
        <input class="hidden" type="submit" value="Update">
    </form>
</div>
