<div class="premade-workouts">
    <h2>{{title}}</h2>
    <div class="workout-container">
        <button (click)="processWorkout('5-mile-run')" class="workout" id="5-mile-run">
            <img class="icon" src="assets/premade-workout-icons/5-Mile-Run.png" alt="Run">
        </button>
        <button (click)="processWorkout('swimming')" class="workout" id="swimming">
            <img class="icon" src="assets/premade-workout-icons/Swimming.png" alt="Swim">
        </button>
        <button (click)="processWorkout('weight-lifting')" class="workout" id="weight-lifting">
            <img class="icon" src="assets/premade-workout-icons/Weight-Lifting.png" alt="Lift">
        </button>
        <button (click)="processWorkout('yoga')" class="workout" id="yoga">
            <img class="icon" src="assets/premade-workout-icons/Yoga.png" alt="Yoga">
        </button>
    </div>
</div>